
<div class="quiz-container">
    <div id="quiz"></div>

</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<form>
    {{#question posts TotalMark}}
        {{question}}
    {{/question}}

    <div id="Mark"  style="display:none;"></div>

    {{#each errors}}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
        </div>
    {{/each}}
    <div  class="form-group" style="display:none;" ><input type="text" cols="30" rows="10" class="form-control" name="questionBank" id='questionBank' value='{{questionBank}}'></div>
    <!--<button id="submit"  type="submit" data-toggle="modal" data-target="#emptyQuestion">Submit Quiz</button>-->


</form>
<button id="submit"  type="submit" data-toggle="modal" data-target="#emptyQuestion">Submit Quiz</button>
<button id="checkAnswer">Check you answer</button>

<div class="pagination" id="pagination"></div>



<div class="modal fade" id="emptyQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">You have not answered all the questions. Are you sure you want to end the quiz?</div>
            <div class="modal-footer">
                <div><a class="btn btn-primary" type="button" data-dismiss="modal" onclick="checkBackEnd();" >Yes</a></div>
                <div><a class="btn btn-secondary" type="button" data-dismiss="modal">No</a></div>
            </div>
        </div>
    </div>
</div>

<script>
    // $('#testing').on('click',(event)=>{
    //     event.preventDefault();
    //     event.stopPropagation();
    // });
    // $('#submit').on('click',(event)=>{
    //     event.preventDefault();
    //     event.stopPropagation();
    // });
    $('#submit').on('click',(event)=>{
        let count =0;
        for(let i=0;i<{{TotalMark}};i++){
            for(let j=0;j<4;j++){
                var ID = i*10+j;
                if(document.getElementById(ID).checked){
                    count ++;
                }
            }
        }
        if(count === {{TotalMark}}){
            $('#submit').removeAttr('data-toggle');
            $('#submit').removeAttr('data-target');
            checkBackEnd();
            console.log('hi')
        }else{
            console.log('no')
        }
    });
    function checkBackEnd() {
        //event.preventDefault();
        //event.stopPropagation();

        var mark =0;
        $.ajax({
            url: '/quiz_landing/answer',
            type:'POST',
            contentType:'application/json',
            data: JSON.stringify({"questionArr": $("#quesionArray").val(),"questionBank":$("#questionBank").val(),"TotalMark":{{TotalMark}} }),
            success:function (res) {
                let arr = res.split(",");
                for(let i=0;i<{{TotalMark}};i++){
                    var pID = 'p' + i;
                    document.getElementById(pID).style.backgroundColor  = 'red';
                    for(let j=0;j<4;j++){
                        var ID = i*10+j;
                        var qID = 'Q' + ID;


                        if(document.getElementById(ID).value == arr[i]){
                            document.getElementById(qID).style.backgroundColor  = 'lightgreen';
                        }
                        if(document.getElementById(ID).checked){
                            if(document.getElementById(ID).value == arr[i]){
                                mark ++;
                                document.getElementById(pID).style.backgroundColor  = 'lightgreen';
                            }else{
                                document.getElementById(qID).style.backgroundColor  = 'red';

                            }
                        }
                    }
                }
            },

        }).done(()=>{
            showSlide(slides.length-1);
            document.getElementById('Mark').innerHTML = `Mark : ${mark}/ {{TotalMark}}`;
            document.getElementById('Mark').style.display ="inline-block";
        });

    }

</script>

<script>


    function dynamicPage(){
        var out ="";
        out += "<a href=\"#\" onclick='showPreviousSlide();'>&laquo;</a>";
        for(let i=0;i<{{TotalMark}};i++){
            var ind = i+1;
            out += "<a href=\"#\" id=p"+ i +" onclick='showSlide("+i+")'>"+ind+"</a>"
        }
        out += "<a href=\"#\" onclick='showNextSlide();'>&raquo;</a>"
        document.getElementById('pagination').innerHTML = out;
    }
    dynamicPage();
    //const quizContainer = document.getElementById("quiz");
    //const resultsContainer = document.getElementById("results");
    const submitButton = document.getElementById("submit");
    function showSlide(n) {
        slides[currentSlide].classList.remove("active-slide");
        slides[n].classList.add("active-slide");
        currentSlide = n;

        if (currentSlide === 0) {
            previousButton.style.display = "none";
            checkAnswer.style.display = 'none';
        } else {
            previousButton.style.display = "inline-block";
            checkAnswer.style.display = 'none';
        }

        if (currentSlide === slides.length - 2) {
            nextButton.style.display = "none";
            submitButton.style.display = "inline-block";
            checkAnswer.style.display = 'none';
        }else if(currentSlide === slides.length - 1){
            nextButton.style.display = "none";
            previousButton.style.display = "none";
            submitButton.style.display = "none";
            checkAnswer.style.display ="inline-block";
        }else {
            nextButton.style.display = "inline-block";
            submitButton.style.display = "none";
            checkAnswer.style.display = 'none';
        }
    }

    function showNextSlide() {
        showSlide(currentSlide + 1);
    }

    function showPreviousSlide() {
        showSlide(currentSlide - 1);
    }
    function firstSlide() {
        showSlide(0);
    }
    const previousButton = document.getElementById("previous");
    const nextButton = document.getElementById("next");
    const slides = document.querySelectorAll(".slide");
    const checkAnswer = document.getElementById("checkAnswer");
    let currentSlide = 0;

    showSlide(0);

    // on submit, show results
    //submitButton.addEventListener("click", showResults);
    checkAnswer.addEventListener('click',firstSlide);
    previousButton.addEventListener("click", showPreviousSlide);
    nextButton.addEventListener("click", showNextSlide);
</script>
<!--<script>-->
<!--document.getElementById('t').onclick = function(){-->
<!--document.getElementById('testing').innerHTML= document.getElementsByName('Question0').value;-->
<!--</script>-->




<script type="text/javascript" src="/js/quiz/quiz.js"></script>