

    <form>
        {{#question posts TotalMark}}
            {{question}}
        {{/question}}


        {{#each errors}}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
        {{/each}}
        <div  class="form-group" style="display:none;" ><input type="text" cols="30" rows="10" class="form-control" name="questionBank" id='questionBank' value='{{questionBank}}'></div>
        <div id="Mark"  style="display:none;"></div>
    </form>

<footer class="footer"><div class="pagination container text-center" id="pagination" style="text-align:center;">></div></footer>


<!--<div class="modal fade" id="emptyQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-body">You have not answered all the questions. Are you sure you want to end the quiz?</div>-->
            <!--<div class="modal-footer">-->
                <!--<div><a class="btn btn-primary" type="button" data-dismiss="modal" onclick="checkBackEnd();" >Yes</a></div>-->
                <!--<div><a class="btn btn-secondary" type="button" data-dismiss="modal">No</a></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<script>
    // $('#testing').on('click',(event)=>{
    //     event.preventDefault();
    //     event.stopPropagation();
    // });
    // $('#submit').on('click',(event)=>{
    //     event.preventDefault();
    //     event.stopPropagation();
    // });
    <!--$('#submit').on('click',(event)=>{-->
        <!--console.log("hello")-->
        <!--let count =0;-->
        <!--for(let i=0;i<{{TotalMark}};i++){-->
            <!--for(let j=0;j<4;j++){-->
                <!--var ID = i*10+j;-->
                <!--if(document.getElementById(ID).checked){-->
                    <!--count ++;-->
                <!--}-->
            <!--}-->
        <!--}-->
        <!--if(count === {{TotalMark}}){-->
            <!--$('#submit').removeAttr('data-toggle');-->
            <!--$('#submit').removeAttr('data-target');-->
            <!--checkBackEnd();-->
            <!--console.log('hi')-->
        <!--}else{-->
            <!--console.log('no')-->
        <!--}-->
    <!--});-->

        function checkBackEnd() {
            //event.preventDefault();
            //event.stopPropagation();
            var mark = 0;
            $.ajax({
                url: '/quiz/answer',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "questionArr": $("#questionArray").val(),
                    "questionBank": $("#questionBank").val(),
                    "TotalMark":{{TotalMark}} }),
                success: function (res) {
                    console.log(res.ansArr);
                    let arr = res.ansArr.split(",");
                    let hintArr = res.hintArr.split(",");
                    for (let i = 0; i <{{TotalMark}}; i++) {
                        var pID = 'p' + i;
                        document.getElementById(pID).style.backgroundColor = 'red';
                        for (let j = 0; j < 4; j++) {
                            var ID = i * 10 + j;
                            var qID = 'Q' + ID;

                            if (document.getElementById(ID).checked) {
                                if (document.getElementById(ID).value == arr[i]) {
                                    mark++;
                                    document.getElementById(pID).style.backgroundColor = 'lightgreen';
                                } else {
                                    document.getElementById(qID).style.backgroundColor = 'red';
                                    let hint = checkForhint(document.getElementById(ID).value,hintArr);
                                    if(hint){
                                        document.getElementById(qID).innerHTML += "   "+ hint;
                                    }

                                }
                            }

                            if (document.getElementById(ID).value == arr[i]) {
                                document.getElementById(qID).style.backgroundColor = 'lightgreen';
                                let hint = checkForhint(document.getElementById(ID).value,hintArr);
                                if(hint){
                                    document.getElementById(qID).innerHTML += "    " + hint;
                                }

                            }

                        }
                    }
                },

            }).done(() => {

                // showSlide(slides.length - 1);
                document.getElementById('Mark').style.display = "inline-block";
                document.getElementById('Mark').innerHTML = `Mark : ${mark}/ {{TotalMark}}`;

            });

        }

        function checkForhint(value,hintArr) {
            for(let i=0;i<hintArr.length;i++){
                if(hintArr[i] == value){
                    return hintArr[i+1];
                }
            }
        }

    function dynamicPage(){
        var out ="";
        out += "<a href='#' id='prev-qn' onclick='showPreviousSlide();' >Prev</a>";
        for(let i=0;i<{{TotalMark}};i++){
            var ind = i+1;
            out += "<a href='#' id=p"+ i +" onclick='showSlide("+i+")' class='qnno'>"+ind+"</a>";
        }
        out += "<a href='#' onclick='showNextSlide();' id='next-qn' style='margin-left: 20px; opacity: 1.0; cursor: pointer;'>Next</a>";
        out += "<Button href='#' class='btn btn-outline-primary btn-sm' data-toggle='modal' data-target='#exampleModal' onclick='checkBackEnd();' id='submit' style='margin-left: 90%; opacity: 1.0; cursor: pointer;'>Submit</Button>"
        document.getElementById('pagination').innerHTML = out;
    }
    dynamicPage();
    //const quizContainer = document.getElementById("quiz");
    //const resultsContainer = document.getElementById("results");
    const submitButton = document.getElementById("submit");
    function showSlide(n) {
        let page = "p" + currentSlide;
        document.getElementById(page).classList.remove("active");
        page = "p" + n;
        document.getElementById(page).classList.add("active");
        // page = "p" + n;
        // page.classList.add("qnno active");
        slides[currentSlide].classList.remove("active-slide");
        slides[n].classList.add("active-slide");
        currentSlide = n;
        // if (currentSlide === 0) {
        //     previousButton.style.display = "none";
        //     checkAnswer.style.display = 'none';
        // } else {
        //     previousButton.style.display = "inline-block";
        //     checkAnswer.style.display = 'none';
        // }
        //
        // if (currentSlide === slides.length - 2) {
        //     nextButton.style.display = "none";
        //     submitButton.style.display = "inline-block";
        //     checkAnswer.style.display = 'none';
        // }else if(currentSlide === slides.length - 1){
        //     nextButton.style.display = "none";
        //     previousButton.style.display = "none";
        //     submitButton.style.display = "none";
        //     checkAnswer.style.display ="inline-block";
        // }else {
        //     nextButton.style.display = "inline-block";
        //     submitButton.style.display = "none";
        //     checkAnswer.style.display = 'none';
        // }
    }

    function showNextSlide() {
        showSlide(currentSlide + 1);
    }

    function showPreviousSlide() {
        showSlide(currentSlide - 1);
    }
    function firstSlide() {
        showSlide(0);
    }
    const previousButton = document.getElementById("previous");
    const nextButton = document.getElementById("next");
    const slides = document.querySelectorAll(".slide");
    const checkAnswer = document.getElementById("checkAnswer");
    let currentSlide = 0;

    showSlide(0);

    // on submit, show results
    //submitButton.addEventListener("click", showResults);
    //checkAnswer.addEventListener('click',firstSlide);
    previousButton.addEventListener("click", showPreviousSlide);
    nextButton.addEventListener("click", showNextSlide);
</script>
<!--<script>-->
<!--document.getElementById('t').onclick = function(){-->
<!--document.getElementById('testing').innerHTML= document.getElementsByName('Question0').value;-->
<!--</script>-->




<script type="text/javascript" src="/js/quiz/quiz.js"></script>
