
<!--<div class="quiz-container">-->
    <!--<div id="quiz"></div>-->


<!--</div>-->
<!--<button id="previous">Previous Question</button>-->
<!--<button id="next">Next Question</button>-->
<!--<form>-->
    <!--{{#question posts}}-->
        <!--{{question}}-->
    <!--{{/question}}-->

    <!--<div id="Mark"  style="display:none;"></div>-->

    <!--{{#each errors}}-->
        <!--<div class="alert alert-danger alert-dismissible">-->
            <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
            <!--{{message}}-->
        <!--</div>-->
    <!--{{/each}}-->

    <!--<button id="submit"  type="submit">Submit Quiz</button>-->
<!--</form>-->
<!--<button id="checkAnswer">Check you answer</button>-->

<!--<div class="pagination" id="pagination"></div>-->

<!--<script>-->
    <!--$('#submit').on('click',(event)=>{-->
        <!--event.preventDefault();-->
        <!--event.stopPropagation();-->
        <!--var mark =0;-->
        <!--$.ajax({-->
            <!--url: '/admin/posts/{{UserId}}/quiz',-->
            <!--type:'POST',-->
            <!--contentType:'application/json',-->
            <!--data: JSON.stringify({"questionArr": $("#quesionArray").val()}),-->
            <!--success:function (res) {-->
                <!--let arr = res.split(",");-->
                <!--for(let i=0;i<{{TotalMark}};i++){-->
                    <!--for(let j=0;j<4;j++){-->
                        <!--var ID = i*10+j;-->
                        <!--var qID = 'Q' + ID;-->
                        <!--var pID = 'p' + i;-->
                        <!--if(document.getElementById(ID).value == arr[i]){-->
                            <!--document.getElementById(qID).style.backgroundColor  = 'lightgreen';-->
                        <!--}-->
                        <!--if(document.getElementById(ID).checked){-->
                            <!--if(document.getElementById(ID).value == arr[i]){-->
                                <!--mark ++;-->
                            <!--}else{-->
                                <!--document.getElementById(qID).style.backgroundColor  = 'red';-->
                                <!--document.getElementById(pID).style.backgroundColor  = 'red';-->
                            <!--}-->
                        <!--}-->
                    <!--}-->
                <!--}-->
            <!--},-->

        <!--}).done(()=>{-->
            <!--showSlide(slides.length-1);-->
            <!--document.getElementById('Mark').innerHTML = `Mark : ${mark}/ {{TotalMark}}`;-->
            <!--document.getElementById('Mark').style.display ="inline-block";-->
        <!--});-->

    <!--});-->
    <!--// function answerKey() {-->
    <!--//     event.preventDefault();-->
    <!--//     event.stopPropagation();-->
    <!--//     document.getElementById('answerArr').value=5;-->
    <!--// }-->
<!--</script>-->
<!--<script>-->


    <!--function dynamicPage(){-->
        <!--var out ="";-->
        <!--out += "<a href=\"#\">&laquo;</a>";-->
        <!--for(let i=0;i<{{TotalMark}};i++){-->
            <!--var ind = i+1;-->
            <!--out += "<a href=\"#\" id=p"+ i +" onclick='showSlide("+i+")'>"+ind+"</a>"-->
        <!--}-->
        <!--out += "<a href=\"#\">&raquo;</a>"-->
        <!--document.getElementById('pagination').innerHTML = out;-->
    <!--}-->
    <!--dynamicPage();-->
    <!--//const quizContainer = document.getElementById("quiz");-->
    <!--//const resultsContainer = document.getElementById("results");-->
    <!--const submitButton = document.getElementById("submit");-->
    <!--function showSlide(n) {-->
        <!--slides[currentSlide].classList.remove("active-slide");-->
        <!--slides[n].classList.add("active-slide");-->
        <!--currentSlide = n;-->

        <!--if (currentSlide === 0) {-->
            <!--previousButton.style.display = "none";-->
            <!--checkAnswer.style.display = 'none';-->
        <!--} else {-->
            <!--previousButton.style.display = "inline-block";-->
            <!--checkAnswer.style.display = 'none';-->
        <!--}-->

        <!--if (currentSlide === slides.length - 2) {-->
            <!--nextButton.style.display = "none";-->
            <!--submitButton.style.display = "inline-block";-->
            <!--checkAnswer.style.display = 'none';-->
        <!--}else if(currentSlide === slides.length - 1){-->
            <!--nextButton.style.display = "none";-->
            <!--previousButton.style.display = "none";-->
            <!--submitButton.style.display = "none";-->
            <!--checkAnswer.style.display ="inline-block";-->
        <!--}else {-->
            <!--nextButton.style.display = "inline-block";-->
            <!--submitButton.style.display = "none";-->
            <!--checkAnswer.style.display = 'none';-->
        <!--}-->
    <!--}-->

    <!--function showNextSlide() {-->
        <!--showSlide(currentSlide + 1);-->
    <!--}-->

    <!--function showPreviousSlide() {-->
        <!--showSlide(currentSlide - 1);-->
    <!--}-->
    <!--function firstSlide() {-->
        <!--showSlide(0);-->
    <!--}-->
    <!--const previousButton = document.getElementById("previous");-->
    <!--const nextButton = document.getElementById("next");-->
    <!--const slides = document.querySelectorAll(".slide");-->
    <!--const checkAnswer = document.getElementById("checkAnswer");-->
    <!--let currentSlide = 0;-->

    <!--showSlide(0);-->

    <!--// on submit, show results-->
    <!--//submitButton.addEventListener("click", showResults);-->
    <!--checkAnswer.addEventListener('click',firstSlide);-->
    <!--previousButton.addEventListener("click", showPreviousSlide);-->
    <!--nextButton.addEventListener("click", showNextSlide);-->
<!--</script>-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
    <!--&lt;!&ndash;document.getElementById('t').onclick = function(){&ndash;&gt;-->
    <!--&lt;!&ndash;document.getElementById('testing').innerHTML= document.getElementsByName('Question0').value;&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->




<!--<script type="text/javascript" src="/js/quiz/quiz.js"></script>-->