
<body>
{{>lecture/home-nav}}


<!--Main layout-->
<main class="mt-5 pt-5">
	<div class="container">
		<section class="mb-4">

			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div class="col-md-7 mb-3">

					<div class="view overlay z-depth-1-half">
						<div id='ggb'></div>
					</div>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-5 mb-3">

					<div class="view overlay z-depth-1-half">
						<!-- <iframe> -->
							<!-- TODO: find out some way to determine the size of the object wrt to the child instead of hard-coding -->
							<!-- object id="svgObj" data="RC_Circuit_svg.html" width="500px" height="500px"></object> -->

							<!-- TODO: Pagination (display current page number) -->
							<div id="slide_lecture">
								<!-- Card -->
								<div class="card" height="100%" width="100%">
									<!-- Card image -->
									<!-- Card content -->
									<div id="lecture_pg1" class="card-body">

                                        <img src="/uploads/{{files}}" height="200" width="200" name="testingPic">
									</div>
                                    <!-- Button -->

                                    <button type="submit" id="submit"> Confirm</button>
                                    <script>
                                        $('#submit').on('click',(event)=>{
                                            $.ajax({
                                                url: "/admin/lecture_upload/{{UserId}}/{{topic}}/create/confirm",
                                                type:'POST',
                                                contentType:'application/json',
                                                data: JSON.stringify({"files":"{{files}}" ,"slideNum":{{slideNum}} }),
                                            }).done(res=>{
                                                window.location.replace('/admin/lecture_upload/{{UserId}}/{{topic}}');
                                            });
                                        });
                                    </script>
                                    <!-- Button -->
                                    <button type="submit" id="cancel"> Cancel</button>
                                    <script>
                                        $('#cancel').on('click',(event)=>{
                                            console.log('clicked');
                                            $.ajax({
                                                url: "/admin/lecture_upload/{{UserId}}/{{topic}}/create/cancel",
                                                type:'POST',
                                                contentType:'application/json',
                                                data: JSON.stringify({"files":"{{files}}" }),
                                            }).done(res=>{
                                                window.location.replace('/admin/lecture_upload/{{UserId}}/{{topic}}/create');
                                            });
                                        });
                                    </script>
								</div>
								<!-- Card -->
							</div>
<!-- </iframe> -->
<!-- tab nav -->
<ul class="nav nav-tabs text-white bg-danger">
	<!-- TODO: add .active to the <a> for the selected tab -->
		<!-- TODO: figure out a better id since this is not button -->
		<li class="nav-item">
			<a id="lecture-btn" class="nav-link" href="#">Lecture</a>
			<!-- <button class="btn btn-primary" type="button">Lecture</button> -->
		</li>
		<li class="nav-item">
			<a id="playground-btn" class="nav-link active" href="#">Playground</a>
		</li>

	</ul>
</div>
</div>
<!-- Grid column -->

</div>
<!-- Grid row -->
</section>

<section class="mb-4">
	<!-- Grid row -->
	<div class="row">

		<!-- Grid column -->
		<div class="col-md-7 mb-3">

			<div class="view overlay z-depth-1-half">
				<h4>Graph control panel <small>(will be placed in the graph)</small></h4>
	<!-- 			Voltage:<input id="Vol" type="number" value="0" min="0" max="100" />
				Resistance:<input id="Res" type="number" value="0" min="0" max="100" />
				<p>Capacitance: <input id="Cap" type="number" value="0" min="0" max="100" /></p> -->

				<!-- TODO: better id instead of "Vol", "Res" and "Cur" -->
			
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text bg-primary text-white" id="basic-addon1">Resistance</span>
					</div>
					<input id="Res" type="text" class="form-control" placeholder="&#8486" aria-label="Username" aria-describedby="basic-addon1">
				</div>	
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text bg-primary text-white" id="basic-addon1">Capacitance</span>
					</div>
					<input id="Cap" type="text" class="form-control" placeholder="C" aria-label="Username" aria-describedby="basic-addon1">
				</div>

                <script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
				<script type="text/javascript" src ="/js/lecture/high_pass_filter.js"></script>
			</div>

		</div>
		<!-- Grid column -->

		<!-- Grid column -->
		<div class="col-md-5 mb-3">

			<div class="view overlay z-depth-1-half">
				<div class="jumbotron">
					<p class="lead">Reserved for further contents</p>
				</div>
				<div style="display: none">
					<h4>Buttons</h4>
					<button id="my-element" class="btn btn-primary" type="button">Lecture</button>
					<button id="my-other-element" class="btn btn-primary" type="button">Playground</button>
					<button class="btn btn-primary" type="button">Prev</button>
					<button class="btn btn-primary" type="button">Next</button>
				</div>
			</div>

		</div>
		<!-- Grid column -->

		<!-- Grid column -->
		<div class="col-md-4 mb-3">

			<div class="view overlay z-depth-1-half" id="dynamic-display1">
				<!-- <iframe src=""></iframe> -->
				<div>
					<!-- <link rel="import" href="helloworld.html"> -->
				</div>
			</div>

		</div>
		<!-- Grid column -->

	</div>
	<!-- Grid row -->
</section>


<!--bookmark-->


<!--Section: Jumbotron-->
<section class="card wow fadeIn collapse" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background2.jpg);">

	<!-- Content -->
	<div class="collapse card-body text-white text-center py-5 px-5 my-5">

		<h1 class="mb-4">
			<strong>Random Jumbotron to <br />fill up screen space for now</strong>
		</h1>

		<a target="_blank" href="#" class="btn btn-outline-white btn-lg">Linked to this website
			<i class="fa fa-graduation-cap ml-2"></i>
		</a>

	</div>
	<!-- Content -->
</section>
<!--Section: Jumbotron-->

</div>
</main>
<!--Main layout-->


